<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chaossnow.ms.dao.CustomerAssetDao">
    <!--namespace根据自己需要创建的的mapper的路径和名称填写-->
    <resultMap id="customerAssetResultMap" type="com.chaossnow.ms.pojo.CustomerAsset" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="customer_id" property="customerId" jdbcType="BIGINT" />
        <result column="fix_asset" property="fixAsset" jdbcType="BIGINT" />
        <result column="deposit" property="deposit" jdbcType="BIGINT" />
        <result column="securities" property="securities" jdbcType="BIGINT" />
        <result column="annual_income" property="annualIncome" jdbcType="BIGINT"/>
    </resultMap>


    <sql id="customerAll">
        customer_id,fix_asset,deposit,securities,annual_income
    </sql>

    <!-- 增加用户 -->
    <select id="addCustomerAsset">
        INSERT INTO customer_asset(customer_id,fix_asset,deposit,securities,annual_income)
        VALUES (#{customerId},#{fixAsset},#{deposit},#{securities},#{annualIncome});
    </select>

    <!-- 删除用户 -->
    <select id="deleteByCustomerId">
        DELETE FROM customer_asset WHERE current customer_id = #{customerId}
    </select>


</mapper>
